[submodule "services/spec/specker"]
	path = services/spec/specker
	url = https://github.com/gofed/specker
[submodule "services/api/gofedlib"]
	path = services/api/gofedlib
	url = https://github.com/gofed/lib.git
[submodule "services/deps/gofedlib"]
	path = services/deps/gofedlib
	url = https://github.com/gofed/lib.git
[submodule "services/rpmstorage/lib"]
	path = services/rpmstorage/lib
	url = https://github.com/gofed/lib
