*.pyc
service.conf
system.json
gofed.conf
services/*/common
services/*/system.json
services/*/service.conf
subcommand/load_scenarios.py
.ropeproject
*.tar.gz
*.zip
*.rpm
*.src.rpm
*.spec

# service related
services/*/tmp/
services/*/*.log
services/filestorage/uploads/
services/gopackagestorage/packages/
system.json_bac

