[{{ param['str'] }}]
port = 18236
host = localhost
logfile = {{ param['str'] }}.log
register = True
register-type = UDP
register-host = localhost
register-port = 18812
max-client-count = 10
max-requests-per-client = 5

