[{{ param['name'] }}]
port = 0
host = localhost
quiet = False
logfile = -
#logfile = {{ param['name']|lower }}.log
register = True
register-type = UDP
register-host = localhost
register-port = 18812
max-client-count = 10
max-requests-per-client = 5

