.api-desc {
	margin-top: 2em;
	margin-bottom: 2em;
}

.api-provided-by {
}

.api-ref {
	margin-left: 1em;
}

.api-text {
	margin-left: 3em;
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

